<%- include("_header") -%>

<h1>Selamat Datang di Perpustakaan Planet Mars</h1>
<h2>Ini adalah perpustakaan bohong-bohongan</h2>
<p>
    Hai hai halo halo bandung... ibukota periangan
    Planet Mars
</p>

<%- include("_footer") -%>